<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="netctoss.dao.AdminDAO">
   
   <select id="findByAdminCode" parameType="string"
                      resultType="netctoss.entity.Admin">
                 select admin_id as adminId,
                 admin_code as adminCode,
                 password,
                 name,
                 telephone,
                 email,
                 enrolldate
                 from admin_info_wgl where admin_code=#{adminCode} 	              
   
   </select>     


</mapper>